//Header CSS
ion-header ion-toolbar {
  --background: url(/assets/banner/bannerHeader3.jpg) center / 100%;
}
.title-css {
  color: black;
  text-shadow: 1px 1px 2px navajowhite;
}
// Content CSS
// segment Buttons Css
.segment-button {
  border: 1px solid;
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 5px;
}
// Room Options CSS
.input-css {
  border: 1px solid silver;
}

.addButton {
  text-transform: capitalize;
  color: black;
}
// Wall Item CSS
.wall-css {
  width: var(--widthvar);
  height: var(--heightvar);
  //transform: var(--translatevar);
  background-color: grey;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.wall-css:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
// Tables Item CSS
.tables-css {
  width: var(--widthvar);
  height: var(--heightvar);
  //border: 3px solid #555;
  background: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Chairs CSS
.chairs-css {
  width: 30px;
  height: 30px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
}
// TextBox CSS
.textBox-css {
  width: auto;
  height: auto;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textBox-span {
  color: black;
  font-weight: 600;
  font-size: 13px;
}

.container-room {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
    overflow-y: scroll;
  white-space: nowrap;
}
// Slides CSS
.slides-css {
  height: 100vh;
}
// Container Wall
.container-wall {
  align-items: center;
  height: auto;
  padding-left: 15px;
}
hr {
  width: 80%;
  border: 1px solid black;
  height: 100%;
}
.drag-box {
  width: 100%;
  padding: 5px;
  height: 86vh;
  border: 1px solid #00000099;
  overflow-y: scroll !important;
  overflow-x: scroll !important;
}
.container-Drag {
  height: 100%;
}

// Toggle CSS
.ml-10 {
  margin-left: 10px;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}
.label-text {
  margin-left: -13%;
  font-size: 15px;
}
.flex-style {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  color: red;
  font-size: 14px;
  font-weight: 500;
}

.editIcon {
  font-size: 1.3rem;
}

